.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  min-height: 50px;
  cursor: pointer;
}

.todo-item__checkText-wrap {
  display: flex;
  align-items: center;
  width: 93%;
  padding: 0 10px 0 0;

  @media screen and (max-width: 900px) {
    width: 80%;
  }
}

.todo-item__checkbox-wrap {
  width: 20px;
  margin-right: 10px;
}

.todo-item__text-wrap {
  width: 100%;
}

.todo-item__textarea {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 16px;
  resize: none;
  overflow: hidden;
}

.todo-item__text {
  display: inline-block;
}

.todo-item__buttons {
  display: flex;
  align-items: center;
  width: 7%;

  @media screen and (max-width: 900px) {
    width: 20%;
    justify-content: flex-end;
  }
}

.todo-item__drag-and-drop {
  background-image: url("../../assets/drag-and-drop.svg");
  background-size: contain;
  width: 24px;
  height: 24px;
  margin: 0 0 0 20px;
  background-repeat: no-repeat;
  background-position: center;
}
