.deleteButton {
  background-image: url("../../../assets/delete.svg");
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    background-image: url("../../../assets/delete-red.svg");
  }
}
