.filter-todo__content {
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: #e9f0f8;
  border-radius: 5px;
  max-height: 269px;

  @media screen and (max-width: 1200px) {
    position: absolute;
    right: 0;
    top: 0;
    width: 220px;

    &_open {
      display: flex;
    }

    &_close {
      display: none;
    }
  }
}

.filter-todo__wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px 0;
}
